html,
body {
  background-color: lightgrey;
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
}

a:hover {
  text-decoration: underline;
}

/* react-big-calendar */
.rbc-time-content .rbc-current-time-indicator {
  background-color: #343434;
}

.rbc-time-content .rbc-current-time-indicator::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  left: -6px;
  top: -4.5px;
  border-radius: 5px;
  background-color: #343434;
  position: absolute;
}
